@tailwind base;
@tailwind components;
@tailwind utilities;

.kara-kendev {
    font-family: "cursive", sans-serif;
}

/* .maxContainer {
    padding-left: 10%;
    padding-right: 10%;
} */

/* For the Scrollbar */
::-webkit-scrollbar {
    height: 5px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #cfb8b8;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
